/* font family;
font-family: 'Caveat', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Poppins', sans-serif; 
*/
html {
  font-size: 62.5%;
}

body {
  background-color: #8ee3ef;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
}

/* h1 {
  color: rosybrown;
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  margin: 0;
  text-transform: uppercase;
} */

h1 {
  font-size: 4rem;
  font-weight: 500;
  margin: 2rem;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
}
.card {
  background-color: #254e70;
  color: #fff;
  border-radius: 8px;
  box-shadow: 4px 2px 4px rgba(255, 0, 106, 0.349);
  margin: auto;
  padding: 3rem 5rem;
  position: absolute;
  text-align: center;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.card:hover {
  transform: scale(1.05) rotate(0.01deg) translateY(-50%);
  transition: all 0.3s ease;
}

/* button styles */

.btn {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  background-color: #23b6d3b6;
  color: #fff;
  font-size: 2rem;
  margin-top: 2.5rem;
  padding: 0.5rem 3rem;
}

.btn:hover {
  transform: scale(1.1) rotate(0.01deg);
  transition: all 0.3s ease;
}

/* css styles */
input,
select {
  background-color: #377183;
  color: #fff;
  border: none;
  outline: none;
  font-size: 1.8rem;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
}

.result-container {
  background-color: #d3bdb0;
  color: #254e70;
}

.show-full {
  display: block;
  padding: 1rem 2rem;
  margin: 2rem auto 0;
  width: 80%;
}
